@model IEnumerable<StoreFront.Data.EF.HeadPhoneStore>
@*@model PagedList.IPagedList<StoreFront.Data.EF.HeadPhoneStore>*@
@using PagedList.Mvc


@{
    ViewBag.Title = "HeadPhonePaging";
}

<div id="main" class="section ">
    <div class="container">


        <div id="MessageDisplay" class="row">
            <div class="col-md-10 col-md-offset-1" id="MessageContent"></div>
        </div>

        <div class="row">

            @if (Request.IsAuthenticated)
            {
                <p class="row">
                    <button id="toggleHeadPhoneCreate" class="btn btn-primary text-right pull-left">Add New</button>
                </p>

                @*<p>
                        @Html.ActionLink("Create New", "Create")
                    </p>*@


                <div id="HeadPhoneCreate">
                    @Html.Partial("HeadPhoneCreate", new StoreFront.Data.EF.HeadPhoneStore())

                </div>
            }





            <table id="HeadPhoneTable" class="table data-table table-striped ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().HeadPhonePrice)
                        </th>
              
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                        </th>
                
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Color.Shade)
                        </th>
               
                   
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Stock.StockValue)
                        </th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="HeadPhone-@item.HeadPhoneID">
                            <td>
                                                       
                                <a href="" id="@item.HeadPhoneID">
                                    <img src="~/Content/img/@item.Image" alt="@item.HeadPhoneType cover image" style="max-height:175px; width:190px;" class="zoom" />
                                </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HeadPhonePrice)
                            </td>
                    
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
           
                            <td>
                                @Html.DisplayFor(modelItem => item.Color.Shade)
                            </td>
              
                            <td>
                                @Html.DisplayFor(modelItem => item.Stock.StockValue)
                            </td>

                            <td>

                                <div class="fa">
                                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                                    {

                                        <a href="#" class="fa EditLink" id="@item.HeadPhoneID"><i class="fas fa-edit"></i></a>
                                    }

                                    <a href="" class="fa DetailsLink" id="@item.HeadPhoneID">
                                        <i class="fas fa-info-circle action-icons" aria-hidden="true"></i>
                                    </a>

                                    @*<a class="fa" href="@Url.Action("Index","Home")">
                                            <i class="fas fa-home action-icons" aria-hidden="true"></i>
                                        </a>*@

                                    @*<a class="fa" href="@Url.Action("Index","Home")">
                                            <i class="fas fa-home action-icons" aria-hidden="true"></i>
                                        </a>*@


                                    @if (User.IsInRole("Admin"))
                                    {
                                        @*<i class='fas fa - ban'></i>*@

                                        @*@Ajax.ActionLink("Delete", "AjaxDelete","HeadPhones", new { id = item.HeadPhoneID},
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                Confirm = "Are you sure you want to delete this item?",
                                                OnSuccess = "deleteConfirmed",
                                                OnFailure = "deleteFailed"
                                            });*@


                                        <a data-ajax="true" data-ajax-confirm="Are you sure you want to delete this item?" data-ajax-failure="deleteFailed" data-ajax-method="POST" data-ajax-success="deleteConfirmed" href="/HeadPhoneStores1/AjaxDelete/@item.HeadPhoneID" class="fa"><i class="fas fa-trash-alt action-icons" aria-hidden="true"></i></a>


                                    }

                                    @*@using (Html.BeginForm("AddToCart", "ShoppingCart", new { headPhoneId = Model.HeadphoneID}, FormMethod.Post, new { @class = "text-center" }))
                                    {
                                        <span class="label">Quantity: </span>
                                        @Html.TextBox("Qty", 1, new { @class = "form-control", style = "max-width: 50px; display: inline;" })
                                        <input type="submit" value="Add to Cart" class="btn btn-primary" />

                                    }*@



                                </div>

                            </td>
                        </tr>
                    }

                </tbody>

            </table>



        </div>
    </div>
</div>




<div id="HeadPhoneDetails"></div>


@section scripts{
    <script>


        $(document).ready(function () {
            $('.data-table').DataTable({
                responsive: true
            });
        });


        function deleteConfirmed(response, status, data) {

            var rowId = "#HeadPhone-" + response.id;
            $("#HeadPhoneTable").find(rowId).remove();


            $("#MessageContent").html("<div class='alert alert-success'>" + response.message + "<div>");
        }

        function deleteFailed(response, status, data) {
            $("#MessageContent").html("<div class='alert alert-danger'>Delete unsuccessful.</div>")
        }


        $('a.DetailsLink').click(function (e) {
            e.preventDefault();

            $("#HeadPhoneDetails").data('hpId', $(this).attr('id'))
                .dialog({

                    width: 450,
                    height: 600,
                    open: function () {
                        var headID = $(this).data('hpId');
                        $(this).load("/HeadPhoneStores1/HeadPhoneDetails/" + headID);
                    },
                    title: "HeadPhone Details",
                    modal: true,
                    resizable: false

                });
        });


        $("#HeadPhoneCreate").hide();
        $("#toggleHeadPhoneCreate").click(function () {
            $("#HeadPhoneCreate").toggle();


        });


        //$("#HeadPhoneCreateForm").submit(function (e) {
        $(document).on("click", "#save", function (e) { 
            var formData = $(this).serializeArray();
            e.preventDefault();
            console.log("test");
            $.ajax({
                url: "/HeadPhoneStores1/AjaxCreate",
                type: "POST",
                data: new FormData(document.getElementById('HeadPhoneCreateForm')),
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                error: function (e) {
                    $("#MessageContent").html("<div class='alert alert-danger'>Error.</div>")
                },
                success: function (head) {
                    $("#MessageContent").html("<div class='alert alert-success'>Item added!</div>")
                    $("#HeadPhoneCreateForm")[0].reset();
                    $(function () {
                        //var row = '<tr><td>' + head.Image
                        //    + '</td><td>' + head.HeadPhonePrice
                        //    + '</td><td>' + head.Description
                        //    + '</td><td>' + head.ColorID
                        //    + '</td><td>' + head.StockID;
                        //$("#HeadPhoneTable").append(row);
                        window.location.reload(true); 
                    });
                }
            });
        });



        //********************* AJAX EDIT ************************** //
        var originalContent = null;

        $("a.EditLink").click(function (e) {
            //e.preventDefault();
            var headphoneID = $(this).attr("id");

            var row = $("#HeadPhone-" + headphoneID).children();

            originalContent = {
                headId: headphoneID,

            };
            console.log(originalContent);

            $.get("/HeadPhoneStores1/HeadPhoneEdit/" + headphoneID, function (data) {
                $("#HeadPhone-" + headphoneID).replaceWith(
                    '<tr id="HeadPhone-' + headphoneID + '"><td colspan="5">' + data + '</td></tr>'
                );
            });
        });

        $(document).on("click", "#saveUpdate", function (e) {
            var formData = $("#HeadPhoneEditForm").serializeArray();

            console.log(formData);
            $('#MessageContent').html("<div class='alert alert-info'>Please Wait...</div>");

            $.ajax({
                url: "/HeadPhoneStores1/AjaxEdit",
                type: "POST",
                data: formData,
                dataType: "json",
                success: function (data) {

                    $('#MessageContent').html("<div class='alert alert-success'>Your Record was Successfully Updated!</div>");
                    $('#HeadPhoneEditForm')[0].reset();
             
                    $(function () {
                        //var row = '<tr><td>' + data.headphoneID +
                        //    '</td><td>' + data.Description +
                        //    '</td><td>' + data.HeadPhonePrice +

                        //    (data.IsActive
                        //        ? '<input type="checkbox" disabled="disabled" checked="checked" />'
                        //        : '<input type="checkbox" disabled="disabled" />') +
                        //    '</td><td>Refresh to view options</td></tr>';

                        //$('#HeadPhone-' + data.headphoneID).replaceWith(row);
                        console.log("here");
                        window.location.reload(true);

                    });

                },
                error: function (e) {
                    window.location.reload(true);
                    //$('#MessageContent').html("<div class='alert alert-warning'>There was an error. Please try again or contact the site administrator.</div>");
                    //$(function () {
                    //    var row = '<tr id="HeadPhone-' + originalContent.headId + '"> <td>' +
                    //        '</td><td>' +
                    //        (originalContent.IsActive
                    //            ? '<input type="checkbox" disabled="disabled" checked="checked" />'
                    //            : '<input type="checkbox" disabled="disabled" />') +
                    //        '</td><td>Refresh to view options</td></tr>';

                    //    $('#HeadPhone-' + data.headphoneID).replaceWith(row);  });
                  
                }
            });
        });


    </script>

}