@model IEnumerable<StoreFront.Data.EF.SpeakersType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SpkrID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SpkerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SpkrID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpkerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SpeakerType }) |
            @Html.ActionLink("Details", "Details", new { id=item.SpeakerType }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SpeakerType })
        </td>
    </tr>
}

</table>
